@using NonFactors.Mvc.Grid
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Jobs</span>
        <a class="btn btn-success btn-sm" asp-action="Create">+ Create New Job</a>
    </div>
    <div class="card-body">
        @Html.AjaxGrid(Url.Action("Grid", "Job"))
    </div>
</div>
