@model IEnumerable<FileWatcherApp.Models.EmailTemplate.CreateEmailTemplateViewModel>

@using NonFactors.Mvc.Grid

@Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("ID").Sortable(true);
        columns.Add(model => model.TemplateName).Titled("Template Name").Sortable(true);
        columns.Add(model => model.Subject).Titled("Subject").Sortable(true);
            columns.Add(model => model.DynamicContent).Titled("Dynamic Content").Sortable(true);
        columns.Add()
            .Titled("Actions")
            .RenderedAs(model =>
                Html.Raw($"<div class='input-group'>" +
                         $"<a class='btn btn-primary btn-sm' href='/EmailTemplate/Edit/{model.Id}'>Edit</a> " +
                         $"<a class='btn btn-danger btn-sm' href='/EmailTemplate/Delete/{model.Id}'>Delete</a>" +
                         $"</div>"));
    }).Empty("No records found.").Pageable(pager => { pager.RowsPerPage = 10; }).Filterable().Sortable()
