@model FileWatcherApp.Models.EmailTemplate.CreateEmailTemplateViewModel

<div class="card">
    <div class="card-header">Edit Email Template</div>
    <div class="card-body">
        @if ((bool)ViewBag.IsLinked)
        {
            <div class="alert alert-warning">
                <strong>Warning:</strong> @ViewBag.Message
            </div>
        }
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TemplateName" class="control-label"></label>
                <input asp-for="TemplateName" class="form-control" />
                <span asp-validation-for="TemplateName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="EmailBody" class="control-label"></label>
                <textarea asp-for="EmailBody" class="form-control" rows="10"></textarea>
                <span asp-validation-for="EmailBody" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" @((bool)ViewBag.IsLinked ? "disabled" : "")>Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#EmailBody').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['fontfamily'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    //['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    //['fullscreen'],
                    ['foreColor', 'backColor']
                ],
                autogrow: true
            });
        });
    </script>
}