@model FileWatcherApp.Models.Notification.EditNotificationViewModel

<div class="card">
    <div class="card-header">
        Edit Notification
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Recipients" class="control-label"></label>
                <input asp-for="Recipients" class="form-control" />
                <span asp-validation-for="Recipients" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="form-check form-switch me-3">
                    <input class="form-check-input" asp-for="NotifySourceTeam" type="checkbox">
                    <label class="form-check-label" for="NotifySourceTeam">Notify Source Team</label>
                </div>
                <div class="form-check form-switch me-3">
                    <input class="form-check-input" asp-for="NotifySupportTeam" type="checkbox">
                    <label class="form-check-label" for="NotifySupportTeam">Notify Support Team</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="NotifyL1L2Team" type="checkbox">
                    <label class="form-check-label" for="NotifyL1L2Team">Notify L1 L2Team </label>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="form-check form-switch me-3">
                    <input class="form-check-input" asp-for="Enabled" type="checkbox" checked>
                    <label class="form-check-label" for="Enabled">Enabled</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EmailTemplateId" class="control-label"></label>
                <select asp-for="EmailTemplateId" asp-items="Model.EmailTemplates" class="form-control"></select>
                <span asp-validation-for="EmailTemplateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
