@using NonFactors.Mvc.Grid
@model FileWatcherApp.Models.Calendar.CalendarListViewModel

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Calendars</span>
        <div>
            <a class="btn btn-success btn-sm" asp-action="Create">+ Create New Calendar</a>
            <a class="btn btn-warning btn-sm" asp-controller="ExcludeCalendar" asp-action="Index">Exclude Calendars/Holidays</a>
        </div>

    </div>
    <div class="card-body">
        @Html.AjaxGrid(Url.Action("Grid", "Calendar"))
    </div>
</div>



